SECRET_KEY=replace-this-secret-key
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
REDIS_URL=redis://127.0.0.1:6379/0
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_VERIFICATION_ENABLED=True
FRONTEND_URL=https://tasker-blaze.vercel.app
PESAPAL_CONSUMER_KEY=
PESAPAL_CONSUMER_SECRET=
PESAPAL_IPN_ID=
PESAPAL_CALLBACK_URL=
PESAPAL_ENV=sandbox
PESAPAL_MOCK=False
PESAPAL_REGISTER_IPN_ON_STARTUP=False
PESAPAL_IPN_URL=
ECONFIRM_API_KEY=
ECONFIRM_BASE_URL=https://econfirm.co.ke/api/v1
ECONFIRM_CALLBACK_URL=http://localhost:8000/api/v1/payments/econfirm-callback/
ECONFIRM_MOCK=False
PLATFORM_FEE_PERCENT=10
ADMIN_EMAIL=admin@taskit.co.ke
KYC_MOCK=True
KYC_FACE_MATCH_THRESHOLD=75
MINDEE_API_KEY=md_r38sq9g9Qe7cpJBx-RzROK-nQygeCWPgeOfgNvc70Z8
MINDEE_ENDPOINT_URL=4ef56fce-8233-4eae-851a-985c7a05b82d
INSIGHTFACE_MODEL_NAME=buffalo_l
INSIGHTFACE_CTX_ID=-1
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_HTTP_TIMEOUT=30
